.form-container{
    display: block;
    margin: 20px;
    padding: 10px;
   
    
}
.lable{
    box-sizing: border-box;
    margin: 20px;
    padding: 10px;
}
.homepage_right{
    flex: 0.4;
} 
.coder{
    width: 50vw;
    position: relative;
    left: 50%;
}